## 1 - Quais casas o CEO da House Rocket deveria comprar e por qual preço de compra?

## 2 - Uma vez a casa em posse da empresa, qual o melhor momento para vendê-las e qual seria o preço da venda?

## 3 - A House Rocket deveria fazer uma reforma para aumentar o preço da venda? Quais seriam as sugestões de mudanças? Qual o incremento no preço dado por cada opção de reforma?

Passos para a resolução
Passo 1: Importar os dados
Passo 2: Verificar o estado dos dados e possivel limpeza
Passo 3: Analise Exploratoria dos dados
Passo 4: Modelagem dos dados
Passo 5: Testar algoritmos
Passo 6: Verificar algoritmos

In [24]:
import pandas as pd
import plotly.express as px

In [55]:
# Passo 1: Importar os dados
tabela = pd.read_csv('kc_house_data.csv')

In [12]:
# Passo 2: Verificar o estado dos dados
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [60]:
# Passo 2.5: Limpeza
tabela = tabela.drop(15870)
tabela.floors = tabela.floors.astype(int)
tabela.price = tabela.price.astype(int)
tabela.bathrooms = tabela.bathrooms.astype(int)

In [61]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21612 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21612 non-null  int64
 1   date           21612 non-null  object
 2   price          21612 non-null  int32
 3   bedrooms       21612 non-null  int64
 4   bathrooms      21612 non-null  int32
 5   sqft_living    21612 non-null  int64
 6   sqft_lot       21612 non-null  int64
 7   floors         21612 non-null  int32
 8   waterfront     21612 non-null  int64
 9   view           21612 non-null  int64
 10  condition      21612 non-null  int64
 11  grade          21612 non-null  int64
 12  sqft_above     21612 non-null  int64
 13  sqft_basement  21612 non-null  int64
 14  yr_built       21612 non-null  int64
 15  yr_renovated   21612 non-null  int64
 16  zipcode        21612 non-null  int64
 17  lat            21612 non-null  float64
 18  long           21612 non-null  float64
 19  sqft_living15  21612 non-null  int64
 20  sqft_lot15     21612 non-null  int64
dtypes: float64(2), int32(3), int64(15), object(1)
memory usage: 3.4+ MB

None

In [ ]:
# Passo 3: Analise Exploratoria