## 1 - Quais casas o CEO da House Rocket deveria comprar e por qual preço de compra?

## 2 - Uma vez a casa em posse da empresa, qual seria o preço da venda?

## 3 - A House Rocket deveria fazer uma reforma para aumentar o preço da venda? Quais seriam as sugestões de mudanças? Qual o incremento no preço dado por cada opção de reforma?

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
# Passo 1: Importar os dados e criar o modelo
tabela = pd.read_csv('kc_house_data.csv')
rl = LinearRegression()
dtc = DecisionTreeClassifier()
dtr = DecisionTreeRegressor()

In [3]:
# Passo 2: Verificar o estado dos dados
tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [4]:
# Passo 3: Limpeza e Organização
tabela = tabela.drop(['date'], axis=1)
tabela.floors = tabela.floors.astype(int)
tabela.price = tabela.price.astype(int)
tabela.bathrooms = tabela.bathrooms.astype(int)

In [5]:
# Passo 4: Modelagem
X = tabela.drop('price', axis=1)
y = tabela['price']
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size=0.3, random_state=52)

In [6]:
from pycaret.regression import *

In [9]:
s = setup( tabela, target = 'price')

In [11]:
best = compare_models(fold = 5)

In [12]:
lightgbm = create_model('lightgbm', fold = 5)

In [13]:
tuned_lightgbm = tune_model(lightgbm, fold = 5)

In [14]:
final_model = finalize_model(tuned_lightgbm)

In [15]:
save_model(final_model,'model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='price',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy='...
                                colsample_bytree=1.0, feature_fraction=0.6,
                                importance_type='split', learning_rate=0.15,
                                max_depth=-1, min_child_samples=21,
                                min_child_weight=0.001, min_split_gain=0.1,
                                n_estimators=150, n_jobs=-1, num_leaves=150,
                                objective=None, random_state=8276, reg_alpha=2,
                                reg_lambda=0.0001, silent='warn', subsample=1.0,
                                subsample_for_bin=200000, subsample_freq=0)]],
          verbose=False),
 'model.pkl')